html  {
    font-size: 18px;
}

body  {
    border: 1px solid black;
    font-family: Helvetica;
}

div  {
    border: 1px solid black;
}

.container {
      max-width: 960px;
      margin: 0 auto;
}


/*Black header*/
.topbanner {
    width: 100%;
    background-color: black;
    color: white;
}

.topbanner img {
    height: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
}

/*Main image*/
.mainbanner {
 background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
 background-repeat: no-repeat;
 height: 25rem;
 background-position: center;
 background-size: cover;
}

.headline {
 background-color: black;
 align-items: center;
 color: white;
 width: 20rem;
 margin-top: 9rem;
 padding-left: 3rem;
 padding-top: 2rem;
 padding-bottom: 2rem;
}

.headline h4 {
  padding-bottom: 0.25rem;
}

.headline h1 {
  font-size: 2rem;
  font-weight: bold;
}

.mainimage .smallheading {
 font-size: 1rem;
 font-weight: bold;
}

.mainimage .largeheading {
 font-size: 2rem;
 font-weight: bold;
}

/*Navbar*/
nav {
 color: white;
 background-color: firebrick;
}

.navbar {
 display: flex;
  justify-content: center;
}

li {
 padding-top: 0.75rem;
 padding-bottom: 0.75rem;
 margin-left: 4rem;
}

/*Product Grid*/
.container box {
 justify-content: center;
}

box {
 width: 30%;
 height: 30%;
}

/*Footer*/

footer  {
    height: 5rem;
    background-color: black;
    text-align: left;
}
